// 贼多蓝色。。。。
// 默认主题颜色
$default-color: #409eff;

// 浅蓝色2 (表格按钮图标)
$default-color2: #c5dfff;

// 浅蓝色2 (表格按钮图标-hover)
$default-color2-hover: #8ccdff;

// 设计页面背景色
$design-bgc: #f7fbff;

// 设计页面边框阴影
$design-shadow: 4px 4px 4px rgb(174 222 251 / 10%);

.w248 {
  width: 248px;
}

// 深度选择器
$deep: '::v-deep()';
